Repository brainstormforce/astra, pull requests merged in 2021-12, with the labels that each got.

#3862 AST-1448 - Missing changelog added for #3851 PR
  changelog.txt
Labels: needs-review

#3858 QAE-77 - Added e2e test case for drag widget in the above header section
  .github/pr-title-checker-config.json
  tests/e2e/specs/customizer/header-builder/above-header/widget1-drag.test.js
Labels: ready to merge, e2e-tests

#3764 AST-966 - Test button presets with third party plugins like WooCommerce
  assets/js/minified/customizer-preview.min.js
  assets/js/unminified/customizer-preview.js
  changelog.txt
Labels: ready to merge

#3877 AST-1453 - Build: Release PR for v3.7.6
  README.md
  assets/fonts/google-fonts.json
  changelog.txt
  functions.php
  inc/google-fonts.php
  inc/metabox/class-astra-meta-boxes.php
  languages/astra.pot
  package-lock.json
  package.json
  readme.txt
  style.css
Labels: Release PR checklist

#3578 AST-208 - Added color & background-color options for store notice
  changelog.txt
  inc/assets/js/customizer-preview.js
  inc/compatibility/woocommerce/class-astra-woocommerce.php
  inc/compatibility/woocommerce/customizer/sections/class-astra-woo-store-notice-configs.php
  tests/php/static-analysis-stubs/astra-stubs.php
Labels: ready to merge

#3871 AST-1436 - Filter to disable all Meta Settings of Page/Post by default is not working in Gutenberg based metabox.
  changelog.txt
  inc/metabox/class-astra-meta-boxes.php
  inc/metabox/extend-metabox/src/settings.js
Labels: ready to merge

#3892 AST-1475 - queryselector reading of null JS error fixed
  assets/js/minified/frontend.min.js
  assets/js/unminified/frontend.js
Labels: ready to merge

#3707 AST-1291 - E2E test case for typography underline content links.
  tests/e2e/specs/customizer/global/typography/underline-content-link.test.js
Labels: ready to merge, e2e-tests

#3687 QAE-162 - Test case for Heading 1 font option in the customizer
  tests/e2e/specs/customizer/global/typography/h1-typo.test.js
Labels: ready to merge

#3726 QAE-166 - Test case for H2 typography styles under the customizer
  tests/e2e/specs/customizer/global/typography/h1-typo.test.js
  tests/e2e/specs/customizer/global/typography/h2-typo.test.js
Labels: ready to merge, e2e-tests

#3729 QAE-167 - Test case for H3 typography control in the customizer
  tests/e2e/specs/customizer/global/typography/h3-typo.test.js
Labels: ready to merge, e2e-tests

#3712 QAE-163 - E2E Test case for H4 typography settings in customizer
  tests/e2e/specs/customizer/global/typography/h4-typo.test.js
Labels: ready to merge, e2e-tests

#3713 QAE-164 - Test case for H5 typography customizer settings
  tests/e2e/specs/customizer/global/typography/h5-typo.test.js
Labels: ready to merge, e2e-tests

#3714 QAE-165 - Test case for H6 typography customizer settings
  tests/e2e/specs/customizer/global/typography/h6-typo.test.js
Labels: ready to merge, e2e-tests

#3402 QAE-46 - Test case for Footer Builder - Copyright element's alignment
  tests/e2e/specs/customizer/footer-builder/copyright/alignment.test.js
  tests/e2e/specs/customizer/footer-builder/copyright/color.test.js
Labels: ready to merge, e2e-tests

#3401 AST-1018 - Test case for Copyright hide on desktop, tablet and mobile
  tests/e2e/specs/customizer/footer-builder/copyright/hide-on-devices.test.js
Labels: ready to merge, e2e-tests

#3399 QAE-44 - Test case for Footer builder - Copyright element's font size
  tests/e2e/specs/customizer/footer-builder/copyright/fontsize.test.js
Labels: ready to merge

#3744 AST-1354 - added e2e test case for search icon margin in the customizer
  tests/e2e/specs/customizer/header-builder/search/margin.test.js
  tests/e2e/specs/customizer/header-builder/search/size-color-space.test.js
Labels: ready to merge, e2e-tests

#3891 QAE-221 - E2E test case for site logo width
  package.json
  tests/e2e/assets/logo.png
  tests/e2e/e2e-plugin/rest-api/namespace.php
  tests/e2e/specs/customizer/header-builder/logo/site-logo-width.test.js
  tests/e2e/utils/customize.js
Labels: e2e-tests

#3620 AST-1276 - responsive test case for above header background color
  tests/e2e/specs/customizer/header-builder/above-header/bg-color.test.js
Labels: e2e-tests

#3522 QAE-47 - Test case for Footer builder - Copyright element's Margin
  tests/e2e/specs/customizer/footer-builder/copyright/margin.test.js
Labels: e2e-tests

#3791 QAE-106 - e2e test case on Footer HTML element's margin options
  tests/e2e/specs/customizer/footer-builder/html/margin.test.js
Labels: ready to merge

#3453 AST-1106 - E2E Test case for Primary header height
  tests/e2e/specs/customizer/header-builder/primary-header/height.test.js
Labels: ready to merge, e2e-tests

#3455 QAE-190 - E2E Test case for primary header padding.
  tests/e2e/specs/customizer/header-builder/primary-header/padding.test.js
Labels: ready to merge, e2e-tests

#3456 QAE-191 - E2E test case for primary header margin.
  tests/e2e/specs/customizer/header-builder/primary-header/margin.test.js
Labels: ready to merge, e2e-tests

#3908 AST-1453 - v3.7.6 next-release to release-candidate
  composer.json
  composer.lock
  inc/customizer/extend-custom-controls/package-lock.json
  inc/customizer/extend-custom-controls/package.json
  inc/metabox/extend-metabox/package-lock.json
  package-lock.json
  package.json
  tests/e2e/assets/logo.png
  tests/e2e/e2e-plugin/rest-api/namespace.php
  tests/e2e/specs/customizer/footer-builder/copyright/alignment.test.js
  tests/e2e/specs/customizer/footer-builder/copyright/color.test.js
  tests/e2e/specs/customizer/footer-builder/copyright/fontsize.test.js
  tests/e2e/specs/customizer/footer-builder/copyright/hide-on-devices.test.js
  tests/e2e/specs/customizer/footer-builder/copyright/margin.test.js
  tests/e2e/specs/customizer/footer-builder/html/margin.test.js
  tests/e2e/specs/customizer/global/typography/h1-typo.test.js
  tests/e2e/specs/customizer/global/typography/h2-typo.test.js
  tests/e2e/specs/customizer/global/typography/h3-typo.test.js
  tests/e2e/specs/customizer/global/typography/h4-typo.test.js
  tests/e2e/specs/customizer/global/typography/h5-typo.test.js
  tests/e2e/specs/customizer/global/typography/h6-typo.test.js
  tests/e2e/specs/customizer/global/typography/underline-content-link.test.js
  tests/e2e/specs/customizer/header-builder/above-header/bg-color.test.js
  tests/e2e/specs/customizer/header-builder/logo/site-logo-width.test.js
  tests/e2e/specs/customizer/header-builder/primary-header/height.test.js
  tests/e2e/specs/customizer/header-builder/primary-header/margin.test.js
  tests/e2e/specs/customizer/header-builder/primary-header/padding.test.js
  tests/e2e/specs/customizer/header-builder/search/margin.test.js
  tests/e2e/specs/customizer/header-builder/search/size-color-space.test.js
  tests/e2e/utils/customize.js
Labels: ready to merge

#3534 AST-1194 - E2E Test case for primary header bottom border size and color
  tests/e2e/specs/customizer/header-builder/primary-header/bottom-border-size-color.test.js
Labels: ready to merge, e2e-tests

#3537 AST-1197 - E2E Test case for primary header background color
  tests/e2e/specs/customizer/header-builder/primary-header/background-color.test.js
Labels: ready to merge, e2e-tests

#3643 QAE-194 - E2E test case for below header height
  tests/e2e/specs/customizer/header-builder/below-header/height.test.js
Labels: e2e-tests

#3646 QAE-195 - E2E test case for below header bottom border size and color
  tests/e2e/specs/customizer/header-builder/below-header/bottom-border.test.js
Labels: ready to merge, e2e-tests

#3647 QAE-196 - added test case for below header background color
  tests/e2e/specs/customizer/header-builder/below-header/bg-color.test.js
Labels: ready to merge, e2e-tests

#3649 AST-1282 - added test case for below header padding
  tests/e2e/specs/customizer/header-builder/below-header/padding.test.js
Labels: ready to merge, e2e-tests

#3651 AST-1283 - added test case for below header margin
  tests/e2e/specs/customizer/header-builder/below-header/margin.test.js
Labels: ready to merge, e2e-tests

#3547 QAE-158 - Test case for site and content background color
  tests/e2e/specs/customizer/global/color/site-content-bg.test.js
Labels: ready to merge, e2e-tests

#3883 AST-1473 - Applying content-background option to backgrounds of full with (contained+stertched) layouts
  assets/js/minified/customizer-preview.min.js
  assets/js/unminified/customizer-preview.js
  changelog.txt
  inc/class-astra-dynamic-css.php
  inc/core/class-gutenberg-editor-css.php
  inc/customizer/class-astra-customizer.php
  inc/dynamic-css/content-background.php
  inc/extras.php
  inc/theme-update/astra-update-functions.php
  inc/theme-update/class-astra-theme-background-updater.php
  tests/e2e/e2e-plugin/rest-api/namespace.php
  tests/php/static-analysis-stubs/astra-stubs.php
Labels: needs-review

#3894 AST-1453 - Build: Release PR for v3.7.6
  assets/fonts/google-fonts.json
  changelog.txt
  functions.php
  inc/google-fonts.php
  languages/astra.pot
  package.json
  tests/e2e/e2e-plugin/rest-api/namespace.php
Labels: ready to merge, Release PR checklist

#3921 AST-1463 - Wave accessibility issue for header top button
  changelog.txt
  inc/builder/controllers/class-astra-builder-ui-controller.php
Labels: ready to merge

#3918 AST-1465 - Related posts are showing the same posts on all posts
  changelog.txt
  inc/modules/related-posts/customizer/class-astra-related-posts-configs.php
Labels: ready to merge

#3529 AST-1025 - Cart Total/Label position
  changelog.txt
  inc/builder/type/header/woo-cart/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/woo-cart/assets/js/unminified/customizer-preview.js
  inc/builder/type/header/woo-cart/dynamic-css/dynamic.css.php
  inc/class-astra-dynamic-css.php
  inc/compatibility/woocommerce/class-astra-woocommerce.php
  inc/core/builder/class-astra-builder-options.php
  inc/customizer/configurations/builder/header/class-astra-customizer-woo-cart-configs.php
Labels: ready to merge

#3920 AST-1462 - Wave accessibility issue for comment section
  changelog.txt
  inc/dynamic-css/comments-flex.php
  inc/dynamic-css/comments.php
  inc/markup-extras.php
  sass/main.scss
Labels: ready to merge

#3753 AST-1362 - E2E test case for account icon size
  assets/svg/svgs.json
  changelog.txt
  inc/customizer/custom-controls/assets/js/minified/custom-controls.min.js
  inc/customizer/custom-controls/assets/js/unminified/custom-controls.js
  inc/customizer/extend-custom-controls/build/index.asset.php
  inc/customizer/extend-custom-controls/build/index.js
  tests/e2e/specs/customizer/header-builder/account/icon-size.test.js
Labels: ready to merge, e2e-tests

#3854 AST-1456 - Jerk issue while switching to dark mode site
  assets/js/minified/mode-switcher.min.js
  assets/js/unminified/mode-switcher.js
  inc/builder/type/class-astra-builder-base-dynamic-css.php
Labels: needs-review

#3955 Removing unwanted sticky header css which was merged by mistake.
  assets/css/minified/frontend.min-rtl.css
  assets/css/minified/frontend.min.css
  assets/css/minified/main.min-rtl.css
  assets/css/minified/main.min.css
  assets/css/unminified/frontend-rtl.css
  assets/css/unminified/frontend.css
  assets/css/unminified/main-rtl.css
  assets/css/unminified/main.css
  sass/site/header/_header-builder-main.scss
Labels: needs-review
