Repository brainstormforce/astra, pull requests merged in 2022-05, with the labels that each got.

#3774 AST-1390 - E2E test case for footer social icon label color
  tests/e2e/specs/customizer/footer-builder/social-icon/icon-label-color.test.js
Labels: e2e-tests

#3544 AST-1200 - test case for button background color and text color
  tests/e2e/specs/customizer/global/button/button-color.test.js
Labels: ready to merge, e2e-tests

#4319 QAE-886 - Removed Github error issue test cases
  tests/e2e/specs/customizer/header-builder/mobile-header/off-canvas-header/flyout-position.test.js
  tests/e2e/specs/customizer/header-builder/mobile-header/off-canvas-menu/fullscreen-off-canvas-menu.test.js
  tests/e2e/specs/meta-settings/disable-title.test.js
Labels: ready to merge, e2e-tests

#4280 AST-1618 - Global typography section takes time to expand
  changelog.txt
  inc/customizer/class-astra-customizer.php
  inc/customizer/class-astra-font-families.php
  inc/customizer/configurations/typography/class-astra-body-typo-configs.php
  inc/customizer/configurations/typography/class-astra-headings-typo-configs.php
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min-rtl.css
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min.css
  inc/customizer/custom-controls/assets/css/unminified/alignment-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/alignment.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls.css
  inc/customizer/custom-controls/assets/css/unminified/customizer-style-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/customizer-style.css
  inc/customizer/custom-controls/assets/css/unminified/responsive-select-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/responsive-select.css
  inc/customizer/custom-controls/assets/css/unminified/settings-group-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/settings-group.css
  inc/customizer/custom-controls/assets/css/unminified/typography-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/typography.css
  inc/customizer/custom-controls/assets/js/minified/custom-controls.min.js
  inc/customizer/custom-controls/assets/js/unminified/custom-controls-plain.js
  inc/customizer/custom-controls/assets/js/unminified/custom-controls.js
  inc/customizer/custom-controls/customizer-style.scss
  inc/customizer/custom-controls/font-variant/class-astra-control-font-variant.php
  inc/customizer/custom-controls/typography/selectWoo.css
  inc/customizer/custom-controls/typography/typography.js
  inc/customizer/custom-controls/typography/typography.scss
  inc/customizer/customizer-controls.php
  inc/customizer/extend-custom-controls/build/index.asset.php
  inc/customizer/extend-custom-controls/build/index.js
  inc/customizer/extend-custom-controls/src/ast-font-family/ast-font-family.js
  inc/customizer/extend-custom-controls/src/ast-font-variant/ast-font-variant.js
  inc/customizer/extend-custom-controls/src/ast-font-variant/control.js
  inc/customizer/extend-custom-controls/src/control-customizer.js
  inc/customizer/extend-custom-controls/src/index.js
  inc/customizer/extend-custom-controls/src/settings-group/control.js
Labels: ready to merge

#3566 AST-1213 - test case for button font styling under the customizer
  tests/e2e/specs/customizer/global/button/button-font.test.js
Labels: ready to merge, e2e-tests

#3717 AST-1330 - e2e test case for global typography preset3
  tests/e2e/assets/sample_products.xml
  tests/e2e/specs/customizer/global/typography/preset3.test.js
Labels: ready to merge, e2e-tests

#4322 AST-1827 - Changelog modified
  changelog.txt
Labels: ready to merge

#3969 QAE-328 - E2E test case for footer builder background image
  tests/e2e/specs/customizer/footer-builder/background-image.test.js
Labels: ready to merge, e2e-tests

#4332 AST-1618 - On change of typography preset font family & font weights sub-controls should change
  inc/core/class-astra-wp-editor-css.php
  inc/customizer/custom-controls/assets/js/minified/custom-controls.min.js
  inc/customizer/custom-controls/assets/js/unminified/custom-controls-plain.js
  inc/customizer/custom-controls/assets/js/unminified/custom-controls.js
  inc/customizer/custom-controls/typography/typography.js
  inc/customizer/extend-custom-controls/build/index.asset.php
  inc/customizer/extend-custom-controls/build/index.js
  inc/customizer/extend-custom-controls/src/typography-presets/typo-presets-component.js
Labels: ready to merge

#4323 QAE-889 - E2E test case for secondary menu submenu width option
  tests/e2e/specs/customizer/header-builder/elements/secondary-menu/width.test.js
  tests/e2e/utils/create-secondary-menu.js
Labels: ready to merge, e2e-tests

#4140 QAE-826 - E2E test case for footer menu spacing
  tests/e2e/specs/customizer/footer-builder/elements/footer-menu/menu-spacing.test.js
  tests/e2e/utils/create-footer-menu.js
Labels: ready to merge, e2e-tests

#4340 AST-1834 - Build: Release PR
  README.md
  assets/fonts/google-fonts.json
  changelog.txt
  inc/builder/markup/class-astra-builder-header.php
  inc/compatibility/class-astra-elementor-pro.php
  inc/compatibility/class-astra-gutenberg.php
  inc/core/class-astra-wp-editor-css.php
  inc/customizer/class-astra-font-families.php
  inc/customizer/configurations/block-editor/class-astra-block-editor-configs.php
  inc/dynamic-css/block-editor-compatibility.php
  inc/google-fonts.php
  inc/metabox/class-astra-meta-boxes.php
  inc/theme-update/astra-update-functions.php
  languages/astra.pot
  package-lock.json
  package.json
  readme.txt
  style.css
  tests/php/static-analysis-stubs/astra-stubs.php
Labels: ready to merge, Release PR checklist

#4312 AST-1854 - Fixed aria-allow-attr accessibility issue on account link
  changelog.txt
  inc/builder/controllers/class-astra-builder-ui-controller.php
Labels: ready to merge

#4331 QAE-825 - E2E test case for footer menu font size option
  tests/e2e/specs/customizer/footer-builder/elements/footer-menu/font-size.test.js
Labels: ready to merge, e2e-tests

#4287 QAE-883 - E2E test case for transparent header account icon and text color option
  tests/e2e/specs/customizer/header-builder/transparent-header/account-icon-text-color.test.js
Labels: ready to merge, e2e-tests

#4338 QAE-879 - E2E test case for transparent header background and site title color option
  tests/e2e/specs/customizer/header-builder/transparent-header/background-and-site-title-color.test.js
Labels: ready to merge, e2e-tests

#3546 AST-1202 - responsive test case for button padding
  package-lock.json
  tests/e2e/specs/customizer/global/button/button-padding.test.js
Labels: ready to merge, e2e-tests

#4330 QAE-827 - E2E test case for footer menu margin option
  tests/e2e/specs/customizer/footer-builder/elements/footer-menu/margin.test.js
  tests/e2e/utils/create-footer-menu.js
  tests/e2e/utils/create-menu.js
  tests/e2e/utils/create-secondary-menu.js
Labels: ready to merge, e2e-tests

#4324 QAE-890 - E2E test case for secondary menu submenu border color, width and radius option
  tests/e2e/specs/customizer/header-builder/elements/secondary-menu/border-color-width-radius.test.js
Labels: ready to merge, e2e-tests

#3757 AST-1368 - E2E test case for account icon margin
  tests/e2e/specs/customizer/header-builder/elements/account/icon-margin.test.js
Labels: ready to merge, e2e-tests

#4344 QAE-250 - E2E test case for footer menu layout option
  tests/e2e/specs/customizer/footer-builder/elements/footer-menu/layout.test.js
Labels: ready to merge, e2e-tests

#4342 QAE-823 - E2E test case for footer menu hide on devices
  tests/e2e/specs/customizer/footer-builder/elements/footer-menu/hide-on-devices.test.js
Labels: ready to merge, e2e-tests

#3545 AST-1201 - test case for button border color, border radius, border width
  tests/e2e/specs/customizer/global/button/button-border.test.js
Labels: ready to merge, e2e-tests

#3942 QAE-216 - Test case for submenu border color, radius and width option
  tests/e2e/specs/customizer/header-builder/primary-menu-submenu/border-color-radius-width.test.js
Labels: ready to merge, e2e-tests

#4363 AQA-159 - github .menu-item-depth-0:nth-child(2) .menu-item-handle timeout error is fixed
  .github/pr-title-checker-config.json
  tests/e2e/specs/customizer/footer-builder/elements/footer-menu/font-size.test.js
  tests/e2e/specs/customizer/footer-builder/elements/footer-menu/hide-on-devices.test.js
  tests/e2e/specs/customizer/footer-builder/elements/footer-menu/layout.test.js
  tests/e2e/specs/customizer/footer-builder/elements/footer-menu/margin.test.js
  tests/e2e/specs/customizer/footer-builder/elements/footer-menu/menu-spacing.test.js
  tests/e2e/specs/customizer/header-builder/elements/secondary-menu/border-color-width-radius.test.js
  tests/e2e/specs/customizer/header-builder/elements/secondary-menu/width.test.js
  tests/e2e/specs/customizer/header-builder/primary-menu-submenu/border-color-radius-width.test.js
  tests/e2e/specs/customizer/header-builder/primary-menu/background-image.test.js
  tests/e2e/specs/customizer/header-builder/primary-menu/color.test.js
  tests/e2e/specs/customizer/header-builder/primary-menu/font.test.js
  tests/e2e/specs/customizer/header-builder/primary-menu/margin.test.js
  tests/e2e/specs/customizer/header-builder/primary-menu/spacing.test.js
  tests/e2e/utils/create-footer-menu.js
  tests/e2e/utils/create-menu.js
  tests/e2e/utils/create-secondary-menu.js
Labels: ready to merge, e2e-tests

#4359 AST-1858 - Beaver builder layout breaking due to block layout CSS
  changelog.txt
  inc/compatibility/class-astra-beaver-builder.php
  inc/compatibility/class-astra-gutenberg.php
Labels: ready to merge

#4368 AST-1862 - Build: Release PR for v3.8.1
  assets/fonts/google-fonts.json
  changelog.txt
  inc/compatibility/class-astra-beaver-builder.php
  languages/astra.pot
  package-lock.json
  package.json
Labels: ready to merge, Release PR checklist

#4313 AST-1859 - Single product designer changes
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce.css
  inc/compatibility/woocommerce/class-astra-woocommerce.php
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min-rtl.css
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min.css
  inc/customizer/custom-controls/assets/css/unminified/color-group-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/color-group.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls.css
  inc/customizer/custom-controls/assets/js/minified/custom-controls.min.js
  inc/customizer/custom-controls/assets/js/unminified/custom-controls.js
  inc/customizer/custom-controls/color-group/color-group.scss
  inc/customizer/extend-custom-controls/build/index.asset.php
  inc/customizer/extend-custom-controls/build/index.js
  inc/customizer/extend-custom-controls/src/slider/slider-component.js
  sass/site/compatibility/woocommerce/woocommerce-grid.scss
  sass/site/compatibility/woocommerce/woocommerce.scss
Labels: bug, enhancement, needs-review

#4314 AST-1861 - Woocommerce Shop filter designer changes
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce.css
  inc/compatibility/woocommerce/class-astra-woocommerce.php
  sass/site/compatibility/woocommerce/woocommerce-grid.scss
  sass/site/compatibility/woocommerce/woocommerce.scss
Labels: bug, enhancement, needs-review

#4326 AST-1873 - Woocommerce Cart designer changes
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce.css
  inc/compatibility/woocommerce/class-astra-woocommerce.php
  sass/site/compatibility/woocommerce/woocommerce-grid.scss
  sass/site/compatibility/woocommerce/woocommerce.scss
Labels: bug, enhancement, needs-review

#4327 AST-1874 - Checkout designer changes
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce.css
  inc/compatibility/woocommerce/class-astra-woocommerce.php
  sass/site/compatibility/woocommerce/woocommerce-grid.scss
  sass/site/compatibility/woocommerce/woocommerce.scss
Labels: bug, enhancement, needs-review

#4315 AST-1875 - Woocommerce cart layout and options
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce.css
  assets/svg/svgs.json
  inc/builder/type/header/woo-cart/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/woo-cart/assets/js/unminified/customizer-preview.js
  inc/builder/type/header/woo-cart/dynamic-css/dynamic.css.php
  inc/class-astra-dynamic-css.php
  inc/compatibility/woocommerce/class-astra-woocommerce.php
  inc/core/builder/class-astra-builder-options.php
  inc/customizer/configurations/builder/header/class-astra-customizer-woo-cart-configs.php
  inc/customizer/custom-controls/assets/js/minified/custom-controls.min.js
  inc/customizer/custom-controls/assets/js/unminified/custom-controls.js
  inc/customizer/extend-custom-controls/build/index.asset.php
  inc/customizer/extend-custom-controls/build/index.js
  inc/theme-update/astra-update-functions.php
  inc/theme-update/class-astra-theme-background-updater.php
  sass/site/compatibility/woocommerce/woocommerce-grid.scss
  sass/site/compatibility/woocommerce/woocommerce.scss
Labels: bug, enhancement

#4370 AST-1864 - Line height decimal not appearing in the Global typography section
  changelog.txt
  inc/customizer/class-astra-customizer.php
Labels: ready to merge

#4267 AST-1784 - Account login popup not opening on mobile/tablet
  assets/js/minified/frontend.min.js
  assets/js/unminified/frontend.js
  changelog.txt
  package-lock.json
  package.json
Labels: ready to merge

#4262 AST-1620 - WP blocks styles changes on preview of Tablet and mobile on Firefox when Astra theme is active.
  changelog.txt
  inc/assets/js/block-editor-script.js
  inc/core/class-astra-enqueue-scripts.php
  inc/core/class-gutenberg-editor-css.php
  inc/markup-extras.php
Labels: ready to merge

#4385 AST-1890 - Compatibility with WordPress 6.0 - Image block not aligned center when Legacy option set from the Block Editor.
  changelog.txt
  inc/class-astra-dynamic-css.php
Labels: ready to merge

#4264 AST-1787 - New astra below, above header and mobile header showing on old header meta setting in the classic editor.
  inc/metabox/class-astra-meta-boxes.php
  tests/php/static-analysis-stubs/astra-stubs.php
Labels: ready to merge
