Repository brainstormforce/astra, pull requests merged in 2022-03, with the labels that each got.

#3668 AST-1288 - Test case for footer builder padding
  tests/e2e/specs/customizer/footer-builder/padding.test.js
Labels: e2e-tests

#3662 AST-1285 - E2E test case for footer builder background color
  tests/e2e/specs/customizer/footer-builder/background-color.test.js
Labels: e2e-tests

#3669 QAE-50 - E2E test case for footer-builder-margin
  tests/e2e/specs/customizer/footer-builder/margin.test.js
Labels: e2e-tests

#3784 AST-1397 - E2E test case for footer html2 text color
  tests/e2e/specs/customizer/footer-builder/html2/html2-text-color.test.js
Labels: e2e-tests

#3738 AST-1351 - E2E test case for social icon radius
  tests/e2e/specs/customizer/header-builder/social-icons/social-icon-radius.test.js
Labels: e2e-tests

#4154 AST-1598 - Build: Release PR for v3.7.8
  README.md
  assets/fonts/google-fonts.json
  changelog.txt
  functions.php
  inc/extras.php
  inc/google-fonts.php
  inc/metabox/class-astra-meta-boxes.php
  inc/theme-update/astra-update-functions.php
  languages/astra.pot
  package.json
  readme.txt
  style.css
  tests/php/static-analysis-stubs/astra-stubs.php
Labels: Release PR checklist

#3730 AST-1347 - E2E Test case for social icon size
  tests/e2e/specs/customizer/header-builder/social-icons/social-icon-size.test.js
Labels: e2e-tests

#4162 AST-1612 - Fix layout settings missing column block when nested inside Group and Cover Blocks
  changelog.txt
  inc/assets/js/column-block-compatibility.js
  inc/core/class-astra-admin-settings.php
  style.css
Labels: ready to merge

#3771 AST-1387 - E2E test case for footer social icon size
  tests/e2e/specs/customizer/footer-builder/social-icon/icon-size.test.js
Labels: ready to merge, e2e-tests

#3773 AST-1389 - E2E test case for footer social icon radius
  tests/e2e/specs/customizer/footer-builder/social-icon/icon-radius.test.js
Labels: ready to merge, e2e-tests

#3777 AST-1391 - E2E test case for footer social icon background spacing
  tests/e2e/specs/customizer/footer-builder/social-icon/icon-background-spacing.test.js
Labels: ready to merge, e2e-tests

#3782 AST-1396 - E2E test case for footer social icon margin
  tests/e2e/specs/customizer/footer-builder/social-icon/icon-margin.test.js
Labels: ready to merge, e2e-tests

#3780 AST-1394 - E2E test case for footer social icon alignment
  tests/e2e/specs/customizer/footer-builder/social-icon/icon-alignment.test.js
Labels: ready to merge, e2e-tests

#3557 AST-1103 - E2E Test case for below footer margin
  tests/e2e/specs/customizer/footer-builder/below-footer/margin.test.js
Labels: e2e-tests

#3840 AST-1425 - Added new color palette preset options
  assets/js/minified/customizer-preview.min.js
  assets/js/minified/extend-customizer.min.js
  assets/js/minified/flexibility.min.js
  assets/js/minified/frontend-pro.min.js
  assets/js/minified/frontend.min.js
  assets/js/minified/navigation.min.js
  assets/js/minified/skip-link-focus-fix.min.js
  assets/js/minified/style.min.js
  inc/addons/breadcrumbs/assets/js/minified/customizer-preview.min.js
  inc/addons/transparent-header/assets/js/minified/customizer-preview.min.js
  inc/builder/type/class-astra-builder-base-dynamic-css.php
  inc/builder/type/footer/above-footer/assets/js/minified/customizer-preview.min.js
  inc/builder/type/footer/below-footer/assets/js/minified/customizer-preview.min.js
  inc/builder/type/footer/copyright/assets/js/minified/customizer-preview.min.js
  inc/builder/type/footer/html/assets/js/minified/customizer-preview.min.js
  inc/builder/type/footer/menu/assets/js/minified/customizer-preview.min.js
  inc/builder/type/footer/mode-switcher/assets/js/minified/customizer-preview.min.js
  inc/builder/type/footer/primary-footer/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/above-header/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/account/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/below-header/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/menu/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/mobile-menu/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/mobile-trigger/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/mode-switcher/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/off-canvas/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/primary-header/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/search/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/site-identity/assets/js/minified/customizer-preview.min.js
  inc/class-astra-global-palette.php
  inc/core/builder/class-astra-builder-admin.php
  inc/core/builder/class-astra-builder-options.php
  inc/customizer/class-astra-customizer.php
  inc/customizer/configurations/colors-background/class-astra-body-colors-configs.php
  inc/customizer/configurations/layout/class-astra-dark-mode-global-configs.php
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min-rtl.css
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min.css
  inc/customizer/custom-controls/assets/css/unminified/color-palette-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/color-palette.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls.css
  inc/customizer/custom-controls/assets/js/minified/custom-controls.min.js
  inc/customizer/custom-controls/assets/js/unminified/custom-controls.js
  inc/customizer/extend-custom-controls/build/index.asset.php
  inc/customizer/extend-custom-controls/build/index.js
  inc/customizer/extend-custom-controls/src/color-palette/color-palette.js
  inc/customizer/extend-custom-controls/src/control-customizer.js
  inc/customizer/extend-custom-controls/src/customizer.js
  inc/extras.php
  inc/theme-update/astra-update-functions.php
  inc/theme-update/class-astra-theme-background-updater.php
  inc/theme-update/legacy-builder-migration-update.php
  tests/php/static-analysis-stubs/astra-stubs.php
Labels: needs-review

#3617 AST-1310 - E2E test case for primary footer padding
  tests/e2e/specs/customizer/footer-builder/primary-footer/padding.test.js
Labels: ready to merge, e2e-tests

#3615 AST-1311 - E2E test case for primary footer margin
  tests/e2e/specs/customizer/footer-builder/primary-footer/margin.test.js
Labels: ready to merge, e2e-tests

#3586 AST-1308 - E2E Test case for primary footer background color
  tests/e2e/specs/customizer/footer-builder/primary-footer/background-color.test.js
Labels: ready to merge, e2e-tests

#3623 AST-1303 - E2E test case for primary footer vertical alignment
  tests/e2e/specs/customizer/footer-builder/primary-footer/vertical-alignment.test.js
Labels: ready to merge, e2e-tests

#3614 AST-1309 - E2E test case for primary footer inner column spacing
  tests/e2e/specs/customizer/footer-builder/primary-footer/inner-column-spacing.test.js
Labels: ready to merge, e2e-tests

#3628 AST-1295 - E2E test case for above footer border size and color
  tests/e2e/specs/customizer/footer-builder/above-footer/border-size-color.test.js
Labels: ready to merge, e2e-tests

#4198 AST-1590 - Woo commerce accordion support for shop sidebar widgets
  inc/compatibility/woocommerce/class-astra-woocommerce.php
Labels: enhancement, needs-review

#4171 AST-1630 - WooCommerce Product layout column breaks
  changelog.txt
  inc/compatibility/woocommerce/class-astra-woocommerce.php
Labels: ready to merge

#3581 AST-200 - New: Store notice placement option
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce.css
  changelog.txt
  inc/assets/js/customizer-preview.js
  inc/builder/type/header/woo-cart/dynamic-css/dynamic.css.php
  inc/compatibility/woocommerce/class-astra-woocommerce.php
  inc/compatibility/woocommerce/customizer/sections/class-astra-woo-store-notice-configs.php
  sass/site/compatibility/woocommerce/woocommerce-grid.scss
  sass/site/compatibility/woocommerce/woocommerce.scss
  tests/php/static-analysis-stubs/astra-stubs.php
Labels: needs-review, Stale

#3977 QAE-336 - E2E test case for primary footer background image
  tests/e2e/specs/customizer/footer-builder/primary-footer/background-image.test.js
Labels: ready to merge, e2e-tests

#3681 AST-1299 - E2E Test case for above footer height
  tests/e2e/specs/customizer/footer-builder/above-footer/height.test.js
Labels: ready to merge, e2e-tests

#3632 AST-1297 - E2E test case for above footer margin
  tests/e2e/specs/customizer/footer-builder/above-footer/margin.test.js
Labels: ready to merge, e2e-tests

#3637 AST-1301 - E2E test case for above footer vertical alignment
  tests/e2e/specs/customizer/footer-builder/above-footer/vertical-alignment.test.js
Labels: ready to merge, e2e-tests

#3627 AST-1294 - E2E test case for above footer background color
  tests/e2e/specs/customizer/footer-builder/above-footer/background-color.test.js
Labels: ready to merge, e2e-tests

#3555 AST-1098 - E2E Test case for below footer height
  tests/e2e/specs/customizer/footer-builder/below-footer/height.test.js
Labels: ready to merge, e2e-tests

#3601 AST-1105 - E2E Test case for below footer inner column spacing
  tests/e2e/specs/customizer/footer-builder/below-footer/inner-column-spacing.test.js
Labels: e2e-tests

#3561 AST-1099 - E2E Test case for below footer vertical alignment
  tests/e2e/specs/customizer/footer-builder/below-footer/vertical-alignment.test.js
Labels: ready to merge, e2e-tests

#3975 QAE-334 - E2E test case for below footer background image
  tests/e2e/specs/customizer/footer-builder/below-footer/background-image.test.js
Labels: ready to merge, e2e-tests

#3553 AST-1209 - E2E Test case for below footer border size and color
  tests/e2e/specs/customizer/footer-builder/below-footer/border-size-color.test.js
Labels: ready to merge, e2e-tests

#4184 QAE-863 - E2E test case for header builder button element padding option
  tests/e2e/specs/customizer/header-builder/elements/button/padding.test.js
Labels: ready to merge, e2e-tests

#4016 QAE-355 - E2E test case for off canvas header full screen background gradient option
  tests/e2e/specs/customizer/header-builder/header-types/mobile-header/off-canvas-header/fullscreen-background-gradient.test.js
Labels: ready to merge, e2e-tests

#4225 QAE-296 - E2E test case for off canvas menu spacing option
  tests/e2e/specs/customizer/header-builder/header-types/mobile-header/off-canvas-menu/spacing.test.js
Labels: e2e-tests

#4009 QAE-287 - E2E test case for off canvas menu hide on tablet and mobile option
  tests/e2e/specs/customizer/header-builder/header-types/mobile-header/off-canvas-menu/hide-on-tablet-mobile.test.js
Labels: ready to merge, e2e-tests

#3924 QAE-211 - Test case for primary menu submenu width in customizer
  tests/e2e/specs/customizer/header-builder/primary-menu-submenu/width.test.js
  tests/e2e/utils/create-menu.js
Labels: ready to merge, e2e-tests

#4185 QAE-684 - E2E test case for header builder button element margin option
  tests/e2e/specs/customizer/header-builder/elements/button/margin.test.js
Labels: e2e-tests

#3897 QAE-264 - E2E test case for single post structure
  tests/e2e/specs/customizer/blog/single-post/title-and-blog-meta.test.js
Labels: ready to merge, e2e-tests

#4208 AST-1674 - Astra's Toggle menu does not work on iOS devices below 13 version.
  assets/js/minified/frontend.min.js
  assets/js/unminified/frontend.js
  changelog.txt
  package-lock.json
Labels: ready to merge

#3951 QAE-297 - E2E test case for related post meta
  tests/e2e/specs/customizer/blog/single-post/related-post-meta.test.js
Labels: ready to merge, e2e-tests

#3767 AST-1381 - E2E test case for customizing HTML1 element margin in the above heade…
  tests/e2e/specs/customizer/header-builder/elements/html-1/margin.test.js
Labels: ready to merge, e2e-tests

#3732 AST-1349 - E2E test case for social icon color
  tests/e2e/specs/customizer/header-builder/social-icons/social-icon-color.test.js
Labels: ready to merge, e2e-tests

#3752 AST-1360 - E2E test case for social icon hide on tablet and mobile
  tests/e2e/specs/customizer/header-builder/social-icons/social-icon-hide-on-tablet-mobile.test.js
Labels: ready to merge, e2e-tests

#3902 QAE-145 - E2E test case for single post content width
  tests/e2e/specs/customizer/blog/single-post/content-width.test.js
Labels: ready to merge, e2e-tests

#3985 QAE-340 - E2E test case for primary header background image
  tests/e2e/specs/customizer/header-builder/header-types/primary-header/background-image.test.js
Labels: ready to merge, e2e-tests

#4231 QAE-871 - E2E test case for off canvas menu background gradient option
  tests/e2e/specs/customizer/header-builder/header-types/mobile-header/off-canvas-menu/background-gradient.test.js
Labels: ready to merge, e2e-tests

#3995 QAE-345 - E2E test case for site and content background image
  tests/e2e/specs/customizer/global/color/site-content-bg-image.test.js
Labels: ready to merge, e2e-tests

#3980 QAE-339 - E2E test case for above footer background gradient
  tests/e2e/specs/customizer/footer-builder/above-footer/background-gradient.test.js
Labels: ready to merge, e2e-tests

#4015 QAE-354 - E2E test case for off canvas flyout background gradient option
  tests/e2e/specs/customizer/header-builder/header-types/mobile-header/off-canvas-header/flyout-background-gradient.test.js
Labels: ready to merge, e2e-tests
