Repository brainstormforce/astra, pull requests merged in 2022-04, with the labels that each got.

#3974 QAE-333 - E2E test case for footer builder background gradient
  tests/e2e/specs/customizer/footer-builder/background-gradient.test.js
Labels: ready to merge, e2e-tests

#4237 AST-1705 - Search element not displaying in Mobile Offcanvas.
  changelog.txt
  inc/markup-extras.php
Labels: ready to merge

#4228 QAE-289 - E2E test case for off canvas menu link color option
  tests/e2e/specs/customizer/header-builder/header-types/mobile-header/off-canvas-menu/link-color.test.js
Labels: ready to merge, e2e-tests

#3946 QAE-295 - E2E test case for single post meta option
  tests/e2e/specs/customizer/blog/single-post/meta.test.js
Labels: ready to merge, e2e-tests

#4199 AST-1610 - Woocommerce single product designer inputs
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce.css
  inc/assets/js/customizer-preview.js
  inc/builder/controllers/class-astra-builder-ui-controller.php
  inc/builder/type/header/woo-cart/assets/js/minified/customizer-preview.min.js
  inc/builder/type/header/woo-cart/assets/js/unminified/customizer-preview.js
  inc/builder/type/header/woo-cart/dynamic-css/dynamic.css.php
  inc/class-astra-dynamic-css.php
  inc/compatibility/woocommerce/class-astra-woocommerce.php
  inc/compatibility/woocommerce/customizer/sections/layout/class-astra-woo-shop-single-layout-configs.php
  inc/compatibility/woocommerce/templates/cart/mini-cart.php
  inc/core/builder/class-astra-builder-options.php
  inc/customizer/configurations/builder/header/class-astra-customizer-woo-cart-configs.php
  sass/site/compatibility/woocommerce/_animation.scss
  sass/site/compatibility/woocommerce/woocommerce-grid.scss
  sass/site/compatibility/woocommerce/woocommerce.scss
Labels: enhancement, needs-review

#4000 QAE-347 - E2E test case for enable breadcrumb on various page for after header position
  tests/e2e/specs/customizer/breadcrumbs/after-enable-breadcrumb-on-various-pages.test.js
Labels: ready to merge, e2e-tests

#3766 AST-1374 - E2E test case for html2 margin
  tests/e2e/specs/customizer/footer-builder/html-2/html2-font-size.test.js
  tests/e2e/specs/customizer/footer-builder/html-2/html2-margin.test.js
  tests/e2e/specs/customizer/footer-builder/html-2/html2-text-color.test.js
  tests/e2e/specs/customizer/header-builder/html-2/html2-margin.test.js
Labels: ready to merge, e2e-tests

#4192 AST-1668 - Layout option is not visible for group block.
  changelog.txt
  inc/assets/js/column-block-compatibility.js
Labels: ready to merge

#4249 QAE-875 - E2E test case for primary footer inner element layout option
  tests/e2e/specs/customizer/footer-builder/primary-footer/inner-element-layout.test.js
Labels: e2e-tests

#4250 AST-1287 - WooCommerce Checkout Form's shipping details not look appropriate in editor mode as it looks on the frontend
  changelog.txt
  inc/compatibility/class-astra-elementor-pro.php
  tests/e2e/specs/block-editor/heading-block/width.test.js
Labels: ready to merge

#4244 AST-1724 - Added check for account page styles
  inc/compatibility/woocommerce/class-astra-woocommerce.php
Labels: bug, ready to merge

#3558 AST-1097 - E2E Test case for below footer hide on desktop
  tests/e2e/specs/customizer/footer-builder/below-footer/hide-on-devices.test.js
Labels: ready to merge, e2e-tests

#3650 AST-1305 - E2E test case for above footer inner element layout
  tests/e2e/specs/customizer/footer-builder/above-footer/inner-element-layout.test.js
Labels: ready to merge, e2e-tests

#3619 AST-1307 - E2E test case for primary footer hide on desktop
  tests/e2e/specs/customizer/footer-builder/primary-footer/hide-on-devices.test.js
Labels: ready to merge, e2e-tests

#3593 AST-1100 - E2E Test case for Below footer width
  tests/e2e/specs/customizer/footer-builder/below-footer/width.test.js
Labels: e2e-tests

#3648 AST-1302 - E2E test case for above footer width
  tests/e2e/specs/customizer/footer-builder/above-footer/width.test.js
Labels: ready to merge, e2e-tests

#3737 AST-1350 - E2E test case for social icon background color
  tests/e2e/specs/customizer/header-builder/social-icons/social-icon-background-color.test.js
Labels: ready to merge, e2e-tests

#3636 AST-1298 - E2E test case for above footer hide on desktop
  tests/e2e/specs/customizer/footer-builder/above-footer/hide-on-devices.test.js
Labels: ready to merge, e2e-tests

#4186 QAE-865 - E2E test case for header builder button element border width, radius and …
  tests/e2e/specs/customizer/header-builder/elements/button/border-width-color-radius.test.js
Labels: ready to merge, e2e-tests

#3879 QAE-257 - E2E test case for off canvas flyout general settings for tablet and mobile mode
  tests/e2e/specs/customizer/header-builder/mobile-header/off-canvas-header/flyout-general.test.js
Labels: ready to merge, e2e-tests

#3972 QAE-330 - added e2e test case for below header BG- image
  tests/e2e/specs/customizer/header-builder/below-header/bg-image.test.js
Labels: ready to merge, e2e-tests

#3992 QAE-343 - E2E test case for transparent header disable on complete website
  tests/e2e/specs/customizer/header-builder/transparent-header/disable-on-complete-website.test.js
Labels: ready to merge, e2e-tests

#4265 QAE-257 - Flyout general test case removed due to github issue
  tests/e2e/specs/customizer/header-builder/mobile-header/off-canvas-header/flyout-general.test.js
Labels: ready to merge

#4248 AST-1758 - Astra Global border color change
  inc/class-astra-global-palette.php
  inc/core/builder/class-astra-builder-options.php
Labels: enhancement, needs-review

#3598 AST-1101 - E2E Test case for below footer inner elements layout
  tests/e2e/specs/customizer/footer-builder/below-footer/inner-element-layout.test.js
Labels: ready to merge, e2e-tests

#3433 AST-1086 - E2E Test case for Single post section background color
  tests/e2e/specs/customizer/blog/single-post/section-background-color.test.js
Labels: ready to merge, e2e-tests

#3748 AST-1357 - E2E test case for social icon label font size
  tests/e2e/specs/customizer/header-builder/social-icons/social-icon-label-font-size.test.js
Labels: ready to merge, e2e-tests

#3582 AST-1312 - E2E Test case for below footer column and layout options
  tests/e2e/specs/customizer/footer-builder/below-footer/column-layout.test.js
Labels: ready to merge, e2e-tests

#4218 AST-1670 - Search box shortcode are not working on post or page
  inc/builder/type/header/search/dynamic-css/dynamic.css.php
  inc/extras.php
Labels: ready to merge

#4254 AST-1724 - Remove extra select carrot arrow
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce-grid.min.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min-rtl.css
  assets/css/minified/compatibility/woocommerce/woocommerce.min.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-grid.css
  assets/css/unminified/compatibility/woocommerce/woocommerce-rtl.css
  assets/css/unminified/compatibility/woocommerce/woocommerce.css
  sass/site/compatibility/woocommerce/woocommerce-grid.scss
  sass/site/compatibility/woocommerce/woocommerce.scss
Labels: bug, needs-review

#4245 AST-285 - Wordpress search sidebar widget
  assets/css/minified/frontend.min-rtl.css
  assets/css/minified/frontend.min.css
  assets/css/minified/main.min-rtl.css
  assets/css/minified/main.min.css
  assets/css/minified/style-flex.min.css
  assets/css/minified/style.min-rtl.css
  assets/css/minified/style.min.css
  assets/css/unminified/frontend-rtl.css
  assets/css/unminified/frontend.css
  assets/css/unminified/main-rtl.css
  assets/css/unminified/main.css
  assets/css/unminified/style-flex-rtl.css
  assets/css/unminified/style-flex.css
  assets/css/unminified/style-rtl.css
  assets/css/unminified/style.css
  sass/site/secondary/_widgets.scss
Labels: enhancement

#3986 QAE-341 - E2E test case for primary header background gradient
  tests/e2e/specs/customizer/header-builder/header-types/primary-header/background-gradient.test.js
Labels: ready to merge, e2e-tests

#3963 QAE-307 - E2E test case for Primary footer column and layout
  tests/e2e/specs/customizer/footer-builder/primary-footer/column-layout.test.js
Labels: ready to merge, e2e-tests

#3959 QAE-302 - E2E Test case for Single post grid columns and layout option
  tests/e2e/specs/customizer/blog/single-post/grid-columns-layout.test.js
Labels: e2e-tests

#3973 QAE-331 - added e2e test case for applying gradient background for below header
  tests/e2e/specs/customizer/header-builder/below-header/bg-gradient.test.js
Labels: e2e-tests

#4271 AST-1635 - Cherry Pick - Not able select the color Round Shape Appear on Color Pallete in the Block Widgets
  assets/js/minified/customizer-preview.min.js
  assets/js/minified/extend-customizer.min.js
  assets/js/minified/flexibility.min.js
  assets/js/minified/frontend-pro.min.js
  assets/js/minified/frontend.min.js
  assets/js/minified/navigation.min.js
  assets/js/minified/skip-link-focus-fix.min.js
  assets/js/minified/style.min.js
  changelog.txt
  inc/builder/type/header/menu/assets/js/minified/customizer-preview.min.js
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min-rtl.css
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min.css
  inc/customizer/custom-controls/assets/css/unminified/color-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/color.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls.css
  inc/customizer/custom-controls/assets/js/minified/custom-controls.min.js
  package-lock.json
Labels: ready to merge

#4270 AST-1674 - Cherry Pick - Astra's Toggle menu does not work on iOS devices below 13 version.
  assets/js/minified/frontend.min.js
  assets/js/unminified/frontend.js
  changelog.txt
  package-lock.json
Labels: ready to merge

#3778 AST-1392 - E2E test case for footer social icon label font size
  tests/e2e/specs/customizer/footer-builder/social-icon/icon-label-font-size.test.js
Labels: ready to merge, e2e-tests

#4187 QAE-866 - E2E test case for header builder button element Text and background color option
  tests/e2e/specs/customizer/header-builder/elements/button/text-background-color.test.js
Labels: ready to merge, e2e-tests

#3739 AST-1352 - E2E test case for social icon background spacing
  tests/e2e/specs/customizer/header-builder/social-icons/social-icon-background-spacing.test.js
Labels: ready to merge, e2e-tests

#3779 AST-1393 - E2E test case for footer social icon hide on desktop, tablet and mobile
  tests/e2e/specs/customizer/footer-builder/social-icon/icon-hide-on-devices.test.js
Labels: ready to merge, e2e-tests

#4272 AST-1827 - Build: Release PR for v3.7.10
  README.md
  assets/fonts/google-fonts.json
  functions.php
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min-rtl.css
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min.css
  inc/customizer/custom-controls/assets/css/unminified/color-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/color.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls.css
  inc/google-fonts.php
  languages/astra.pot
  package.json
  readme.txt
  style.css
Labels: Release PR checklist

#4276 AST-1827 - v3.7.10 Changelog updated
  changelog.txt
  package-lock.json
Labels: ready to merge

#4274 QAE-220 - E2E test case for header builder width option
  tests/e2e/specs/customizer/header-builder/overall-header-settings/width.test.js
Labels: ready to merge, e2e-tests

#3517 AST-886 - Test case for primary menu margin option
  tests/e2e/specs/customizer/header-builder/primary-menu/margin.test.js
Labels: ready to merge, e2e-tests

#3303 AST-885 - Test case for primary menu spacing option
  tests/e2e/specs/customizer/header-builder/primary-menu/spacing.test.js
Labels: ready to merge, e2e-tests

#4273 AST-1827 - v3.7.10 release-candidate to master
  README.md
  assets/fonts/google-fonts.json
  assets/js/minified/customizer-preview.min.js
  assets/js/minified/extend-customizer.min.js
  assets/js/minified/flexibility.min.js
  assets/js/minified/frontend-pro.min.js
  assets/js/minified/frontend.min.js
  assets/js/minified/navigation.min.js
  assets/js/minified/skip-link-focus-fix.min.js
  assets/js/minified/style.min.js
  assets/js/unminified/frontend.js
  changelog.txt
  functions.php
  inc/builder/type/header/menu/assets/js/minified/customizer-preview.min.js
  inc/compatibility/woocommerce/class-astra-woocommerce.php
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min-rtl.css
  inc/customizer/custom-controls/assets/css/minified/custom-controls.min.css
  inc/customizer/custom-controls/assets/css/unminified/color-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/color.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls-rtl.css
  inc/customizer/custom-controls/assets/css/unminified/custom-controls.css
  inc/customizer/custom-controls/assets/js/minified/custom-controls.min.js
  inc/customizer/extend-custom-controls/package-lock.json
  inc/google-fonts.php
  languages/astra.pot
  package-lock.json
  package.json
  readme.txt
  style.css
Labels: ready to merge

#3653 AST-1306 - E2E test case for above footer column layout
  tests/e2e/specs/customizer/footer-builder/above-footer/column-layout.test.js
Labels: ready to merge, e2e-tests

#4283 QAE-881 - E2E test case for transparent header social icon text and background color, Search icon color
  tests/e2e/specs/customizer/header-builder/transparent-header/social-icon-text-bg-color-search-color.test.js
Labels: ready to merge, e2e-tests

#4291 QAE-304 - Revert code for heading width test case
  tests/e2e/specs/block-editor/heading-block/width.test.js
  tests/e2e/specs/customizer/header-builder/primary-menu-submenu/border-color.test.js
  tests/e2e/specs/customizer/header-builder/primary-menu-submenu/width.test.js
Labels: ready to merge, e2e-tests

#3631 AST-1297 - E2E test case for above footer padding
  tests/e2e/specs/customizer/footer-builder/above-footer/padding.test.js
Labels: e2e-tests

#4007 QAE-353 - E2E test case for primary menu background image
  tests/e2e/specs/customizer/header-builder/primary-menu/background-image.test.js
Labels: ready to merge, e2e-tests

#3772 AST-1388 - E2E test case for footer social icon background color
  tests/e2e/specs/customizer/footer-builder/social-icon/icon-background-color.test.js
Labels: ready to merge, e2e-tests

#3354 QAE-878 - Added e2e test case for transparent header bottom border color and size
  tests/e2e/specs/customizer/header-builder/transparent-header/bottom-border-width-color.test.js
Labels: ready to merge, e2e-tests

#4289 QAE-885 - E2E test case for transparent header html link and text color option
  tests/e2e/specs/customizer/header-builder/transparent-header/html-link-text-color.test.js
Labels: ready to merge, e2e-tests

#3548 AST-930 - Test case for Primary menu color option
  tests/e2e/specs/customizer/header-builder/primary-menu/color.test.js
Labels: ready to merge, e2e-tests

#3439 AST-1092 - E2E Test case for Single post enable related post option
  tests/e2e/specs/customizer/blog/single-post/enable-related-post.test.js
Labels: ready to merge, e2e-tests

#3760 AST-1371 - E2E test case for html 2 link color
  tests/e2e/specs/customizer/header-builder/html-2/html-2-link-color.test.js
Labels: ready to merge, e2e-tests

#3976 QAE-335 - E2E test case for below footer background gradient
  tests/e2e/specs/customizer/footer-builder/below-footer/background-gradient.test.js
Labels: ready to merge, e2e-tests

#4288 QAE-884 - E2E test case for toggle button icon, background and border color
  tests/e2e/specs/customizer/header-builder/transparent-header/toggle-icon-background-border.test.js
Labels: ready to merge, e2e-tests

#4282 QAE-880 - E2E test case for transparent header menu text and background color
  tests/e2e/specs/customizer/header-builder/transparent-header/menu-text-and-bg-color.test.js
Labels: ready to merge, e2e-tests

#3560 AST-1210 - E2E Test case for below footer background color
  tests/e2e/specs/customizer/footer-builder/below-footer/background-color.test.js
Labels: ready to merge, e2e-tests

#4285 QAE-882 - E2E test case for button text and background color option
  tests/e2e/specs/customizer/header-builder/transparent-header/button-text-bg-color.test.js
Labels: ready to merge, e2e-tests

#3762 AST-1373 - E2E test case for html2 font size
  tests/e2e/specs/customizer/header-builder/html-2/html-2-font-size.test.js
Labels: ready to merge, e2e-tests

#3344 AST-989 - Test case for primary menu typography option
  tests/e2e/specs/customizer/header-builder/primary-menu/font.test.js
Labels: ready to merge, e2e-tests

#3958 QAE-301 - E2E test case for blog archive meta options
  tests/e2e/specs/customizer/blog/archive/meta.test.js
Labels: ready to merge, e2e-tests

#3441 AST-1094 - E2E Test case for Blog/Archive title font size
  tests/e2e/specs/customizer/blog/archive/blog-archive-title-font-size.test.js
Labels: ready to merge, e2e-tests

#3735 AST-1348 - E2E test case for social icon margin
  tests/e2e/specs/customizer/header-builder/social-icons/social-icon-margin.test.js
Labels: e2e-tests

#4188 QAE-867 - E2E test case for header builder button element font option
  tests/e2e/specs/customizer/header-builder/elements/button/font.test.js
Labels: ready to merge, e2e-tests

#4001 QAE-348 - E2E test case for enable breadcrumb on various pages for before title header position
  tests/e2e/specs/customizer/breadcrumbs/before-enable-breadcrumb-on-various-pages.test.js
Labels: ready to merge, e2e-tests

#3434 AST-1087 - E2E Test case for Single post section title color
  tests/e2e/specs/customizer/blog/single-post/section-title-color.test.js
Labels: ready to merge, e2e-tests

#4226 QAE-869 - E2E test case for off canvas menu margin
  tests/e2e/specs/customizer/header-builder/header-types/mobile-header/off-canvas-menu/margin.test.js
Labels: ready to merge, e2e-tests

#3430 AST-1084 - E2E Test case for single post meta font options
  tests/e2e/specs/customizer/Blog/single-post/single-post-meta-font.test.js
Labels: ready to merge, e2e-tests

#4010 QAE-288 - E2E test case for off canvas menu item divider size and color option
  tests/e2e/specs/customizer/header-builder/header-types/mobile-header/off-canvas-menu/item-divider-size-color.test.js
Labels: ready to merge, e2e-tests

#3895 QAE-260 - E2E test case for Transparent header enable on complete website
  tests/e2e/specs/customizer/header-builder/transparent-header/enable-on-complete-website.test.js
Labels: ready to merge, e2e-tests

#4230 QAE-870 - E2E test case for Off canvas menu background color option
  tests/e2e/specs/customizer/header-builder/header-types/mobile-header/off-canvas-menu/background-color.test.js
Labels: ready to merge, e2e-tests

#4003 QAE-350 - E2E test case for disable breadcrumb on various pages for after header position
  tests/e2e/specs/customizer/breadcrumbs/after-disable-breadcrumb-on-various-pages.test.js
Labels: ready to merge, e2e-tests

#3831 AST-1438 - E2E test case for off canvas flyout header type position
  tests/e2e/specs/customizer/header-builder/mobile-header/off-canvas-header/flyout-position.test.js
Labels: ready to merge, e2e-tests

#3435 AST-1088 - E2E Test case for Single post section title font
  tests/e2e/specs/customizer/blog/single-post/section-title-font.test.js
Labels: ready to merge, e2e-tests

#4002 QAE-349 - E2E test case for disable breadcrumb for various pages for inside header position
  tests/e2e/specs/customizer/breadcrumbs/inside-disable-breadcrumb-on-various-pages.test.js
Labels: ready to merge, e2e-tests
